In [1]:
t=(1,5,8,7)
print(t)

(1, 5, 8, 7)

In [2]:
print(t[2])

8

In [3]:
t[1]=2   #tuple are immutable object

TypeError: 'tuple' object does not support item assignment

In [5]:
b="rohan","three","far"
print(b)
print(b[1])
print(type(b))

('rohan', 'three', 'far')
three
<class 'tuple'>

In [7]:
i="rox",
print(type(i))
i="rox"
print(type(i))

<class 'tuple'>
<class 'str'>

In [8]:
h=()
print(h)
print(type(h))

()
<class 'tuple'>

##### tuple unpacking

In [9]:
n=(1,2,5)
a,b,c=n
print(a)
print(b)
print(c)

1
2
5

In [10]:
a,b=8,9
print(a)
print(b)

8
9

##### Swap two number

In [11]:
x=5
y=10
c=x
x=y
y=c
print(x)
print(y)

10
5

##### withoutusing 3rd variable

In [12]:
a=20
b=50

a=a+b
b=a-b
a=a-b
print(a)
print(b)

50
20

In [13]:
print(b)
print(a)

20
50

In [14]:
z=100
x=200

z,x=x,z
print(z)
print(x)

200
100

In [15]:
f=(2,5,8,9,4,6,7,10,56,88)
print(f
     )

(2, 5, 8, 9, 4, 6, 7, 10, 56, 88)

In [16]:
print(f[2:7])

(8, 9, 4, 6, 7)

In [19]:
print(f[-9:-6])

(5, 8, 9)

In [20]:
print(f[-6:-8])

()

In [21]:
print(f[::2])

(2, 8, 4, 7, 56)

In [22]:
print(f[::-1])

(88, 56, 10, 7, 6, 4, 9, 8, 5, 2)

### Tuple Method

In [26]:
##count
b=(1,2,1,3,5,1,8)
t=b.count(1)
print(t)

3

In [28]:
##index
s=(1,5,8,9)
y=s.index(9)
print(y)

3

### Tuple Function

In [31]:
d=(55,72,69,100)
print(len(d))
print(max(d))
print(min(d))
print(sum(d))

4
100
55
296

In [33]:
c=(1,11,11,1111)
ci=c+(11111,)
print(c)
print(ci)

(1, 11, 11, 1111)
(1, 11, 11, 1111, 11111)

##### Question

WAP to print how many times a number occered in a tuple.

In [1]:
i=(1,4,5,4,7,8,4)
l=i.count(4)
print("No. occured",l)

No. occured 3

WAP to remove an item from tuple.

In [38]:
u=("s","h","a","t","s","h","i")
r=u[:3]+u[-3:]
print(r)

('s', 'h', 'a', 's', 'h', 'i')

In [41]:
##alternative
u=("s","h","a","t","s","h","i")
r=list(u)
r.remove("t")
u=tuple(r)
print(u)

('s', 'h', 'a', 's', 'h', 'i')

WAP to find the position of tuple in a list.

In [2]:
k=[10,50,40,(1,0),40]
print(isinstance(k,list))    ##instance==member

True

In [3]:
print(isinstance(k,tuple))

False

In [6]:
k=[10,50,40,(1,0),40]
a=0

for i in k:
    if isinstance(i,tuple):
        break
    else:
        a+=1
print("POSITION IS :-",a)

POSITION IS :- 3

In [8]:
t=(1,2,3,4)
print(t)
print(id(t))

t=t+(2,)
print(t)
print(id(t))

t=t[:2]+(14,10,20)+t[:]
print(t)
print(id(t))

(1, 2, 3, 4)
1428437538192
(1, 2, 3, 4, 2)
1428438409760
(1, 2, 14, 10, 20, 1, 2, 3, 4, 2)
1428438423104

In [9]:
a=11
print(id(a))

1428363897456

In [10]:
b=a
print(id(b))

1428363897456