In [1]:
x=int(input("ENTER A NO "))
s=0
while x>0:
    r=x%10
    s=s*10+r
    x=x//10
print("REVERSE IS : ",s)

ENTER A NO 125
REVERSE IS :  521

In [2]:
#palindroms

In [ ]:
x=int(input("ENTER A NO "))
s=0
temp=x
while x>0:    #x=125,12,1
    r=x%10    #r=5,2,1
    s=s*10+r  #s=5,52,521
    x=x//10   #x=12,1,0
print("REVERSE IS : ",s) 

if s==temp:
    print("PALINDROMS")
else:
    print("NOT PALINDROMS")

In [ ]:
#ARMSTRONG OR NOT

In [ ]:
x=int(input("ENTER A NUM "))
s=0
temp=x
while x>0:
    r=x%10
    s=s+(r*r*r)
    x=x//10
if s==temp:
    print("ARMSTRONG")
else:
    print("NOT ARMSTRONG")

In [ ]:
#Question
#753
#output
#7
#5
#3

In [8]:
x=int(input("ENTER A NUMBER "))     #x=123
s=0
temp=x
while x>0:
    r=x%10    #r=3,2,1
    s=s*10+r  #s=3,32,321
    x=x//10   #x=12,1,0

while s>0:    #s=321,32,3
    r=s%10    #r=1,2,3
    print(r)
    s=s//10   #s=32,3,0

ENTER A NUMBER 123
1
2
3

In [ ]:
#print individual digit in char formate

In [ ]:
n=int(input("ENTER A NUMBER "))   #n=405
s=0
while n>0:     #n==405,40,4
    r=n%10     #r=5,0,4
    s=s*10+r   #s=5,50,504
    n=n//10    #n=40,4,0

while s>0:     #s=504,50,5
    r=s%10     #r=4,0,5
    if r==1:
        print("ONE")
    elif r==2:
        print("TWO")
    elif r==3:
        print("THREE")
    elif r==4:
        print("FOUR")
    elif r==5:
        print("FIVE")
    elif r==6:
        print("SIX")
    elif r==7:
        print("SEVEN")
    elif r==8:
        print("EIGHT")
    elif r==9:
        print("NINE")
    elif r==0:
        print("ZERO")
    s=s//10            #504,50,5,0

In [4]:
#FACTORIAL

In [18]:
x=int(input("ENTER A NUMBER"))
f=1
while x>0:
    f=f*x
    x=x-1
print(f)

ENTER A NUMBER3
6

In [19]:
#NESTED LOOP

In [37]:
x=1

while x<=3:
    y=1
    while y<=3:
        print(x,end="")
        print(y,end=" ")
        y+=1   
    print()
    x+=1

11 12 13
21 22 23
31 32 33

In [38]:
x=1

while x<=3:
    y=1
    while y<=3:
        print("*",end="  ")
        y+=1   
    print()
    x+=1

*  *  *
*  *  *
*  *  *

In [42]:
n=int(input("ENTER A NUMBER"))
x=1
while x<=n:
    y=1
    while y<=x:
        print(y,end="")
        y+=1
    print() 
    x+=1

ENTER A NUMBER5
1
12
123
1234
12345

In [44]:
n=int(input("ENTER A NUMBER"))
x=1
while x<=n:
    y=1
    while y<=x:
        print("*",end="")
        y+=1
    print() 
    x+=1

ENTER A NUMBER5
*
**
***
****
*****

In [1]:
n=int(input("ENTER A NUMBER"))
x=1
while x<=n:
    y=1
    while y<=x:
        print(x,end="")
        y+=1
    print() 
    x+=1

ENTER A NUMBER5
1
22
333
4444
55555